<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
<title>HAA- HANA Analytics Adaptor</title>
</head>
<body class="sapUiBody">
    <h1>HANA Analytics Adapter : <%= project_name %> </h1>
    Congratulations, you have reached <b>analytics adapter for SAP HANA extended application services, advanced model.</b><br />
    <a href="/sap/bc/ina/service/v2/GetServerInfo" target="info">ServerInfo</a><br />
    <a href="/sap/bc/ina/service/v2/HeartBeat" target="beat">HeartBeat</a><br />
    <a href="https://<%= subacct_subdomain %>.authentication.<%= deploy_landscape %>.hana.ondemand.com/config?action=who">Check Auth Scopes</a><br />

</body>
</html>
